#home {
    position: fixed;
    font-size: 2.25em;
    z-index: 30;
    right: 120px;
    bottom: 64px;
    text-align: right;
    color: #42affa;
}

#home:hover {
    color: #93c8eb;
}

#slides-title-div {
    position: fixed;
    font-size: 2.25em;
    z-index: 30;
    right: 120px;
    bottom: 32px;
    text-align: right;
}

#slides-title-meta {
    text-align: right;
    font-size: 28px;
    color: #b6b6b6;
    font-family: Ubuntu, "sans-serif";
}

.err {
    display: inline-block;
    position:relative;
    background: url(../../images/Squigly.png) bottom repeat-x;
}

.keyword {
    color: rgb(86,156,214);
}

.unity-callback {
    color: rgb(86,156,214);
}

.attribute {
    color: rgb(78,201,176);
}

.clazz {
    color: rgb(78,201,176);
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}