.navigation-button {
    position: fixed;
    z-index: 30;
    text-align: right;
    color: #42affa;
}

.navigation-button:hover {
    color: #93c8eb;
}

.home {
    right: 120px;
    bottom: 64px;
    font-size: 2.25em;
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;
}


@keyframes fade-in-keyframes {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation-name: fade-in-keyframes;
    animation-duration: 500ms;
}

.next-exercise {
    right: 15px;
    bottom: 24px;
    transform: scale(1.2);
    visibility: hidden;
}

.previous-exercise {
    right: 65px;
    bottom: 25px;
    transform: scale(1.2);
    visibility: hidden;
}

#slides-title-div {
    position: fixed;
    font-size: 2.25em;
    z-index: 30;
    right: 120px;
    bottom: 32px;
    text-align: right;
}

#slides-title-meta {
    text-align: right;
    font-size: 28px;
    color: #b6b6b6;
    font-family: Ubuntu, "sans-serif";
}

.err {
    display: inline-block;
    position:relative;
    background: url(../../images/Squigly.png) bottom repeat-x;
}

.keyword {
    color: rgb(86,156,214);
}

.unity-callback {
    color: rgb(86,156,214);
}

.attribute {
    color: rgb(78,201,176);
}

.clazz {
    color: rgb(78,201,176);
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}